* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}

/* space between boxes
*/
.box-container {
  padding-bottom: 10rem;
}

/* padding of box throughout app
*/

.App {
  background-color:darkcyan;
  padding: 2rem;
}


.box {
  width: 20rem;
  height: 20rem;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

