* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}

/* space between boxes
*/
.box-container {
  padding-bottom: 20rem;
}

/* padding of box throughout app
*/

.App {
  padding: 5rem;
}


.box {
  width: 25rem;
  height: 25rem;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

